//- IMAGE DETAILS
-let imageDetail01 = "_video announcement"
-let imageDetail02 = "_interactive experience : desktop version 1"
-let imageDetail03 = "_poster series : printed campaign"
-let imageDetail04 = "_interactive experience : desktop version 2"
-let imageDetail05 = "_interactive experience : desktop version 3"
-let imageDetail06 = "_landing page : mobile version"

//- IMAGE DETAILS
-let videoDetail01 = "_video opening"

//- PROJECT INFORMATION
-let clientName = "Lawrence Lek"
-let clientNameMobile = "L.Lek"
-let catName = "Interactive Experience"
-let labelProject = "LLEK-INEX-2023"
-let localisationProject = "London, UK"
-let countryFlag = "🇬🇧"
-let dateProject = "2023"

//- SERVICES
-let service01 = "Art direction,"
-let service02 = "UI/UX Design development,"
-let service03 = "Programming"


//- EXTERNAL LINKS
-let link01 = "https://lawrencelek.com/"
-let link02 = "https://www.sadiecoles.com/exhibitions/954-lawrence-lek-black-cloud-highway/press_release_text/"

//- LINK DETAILS 
-let linkDetail01 = "Lawrence Lek"
-let linkDetail02 = "Sadie Coles HQ"

//- CREDITS
-let credit01 = "Copyright — Black Cloud Highway, 黑云高速公路, Lawrence Lek, 2023."
-let credit02 = "Writing — Lawrence Lek and Holly Gramazio,"

//- ACCORDION DETAILS
//- DETAIL01
-let titleService01 = "Black Cloud Highway 黑云高速公路" 
-let contentService011 = "Interactive Text-based Game, Touchscreen Monitors, Stereo Sound,"
-let contentService012 = "Duration Variable"

//-NEXT PREVIOUS LINKS
-let previousProject=""
-let nextProject = "/espace-loisir-culture.html"



//- DEBUT HTML
doctype html
html(lang='en')
    head
        include includes/meta
        title PPOffice_#{clientName}
    body
        main.o-pageSplit__container
            .m-pageSplit_projectLeft__wrapper
                //- IMG BCH 01
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail01}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/black-cloud/bch-01-1152.webp 1152w,\
                                /public/img/black-cloud/bch-01-1440.webp 1440w,\
                                /public/img/black-cloud/bch-01-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/black-cloud/bch-01-1152.jpg 1152w,\
                                /public/img/black-cloud/bch-01-1440.jpg 1440w,\
                                /public/img/black-cloud/bch-01-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/black-cloud/bch-01-1920.jpg", alt=imageDetail01)

                //- IMG BCH 02
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail02}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/black-cloud/bch-02-1152.webp 1152w,\
                                /public/img/black-cloud/bch-02-1440.webp 1440w,\
                                /public/img/black-cloud/bch-02-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/black-cloud/bch-02-1152.jpg 1152w,\
                                /public/img/black-cloud/bch-02-1440.jpg 1440w,\
                                /public/img/black-cloud/bch-02-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/black-cloud/bch-02-1920.jpg", alt=imageDetail02)

                //- IMG BCH 03
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail03}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/black-cloud/bch-03-1152.webp 1152w,\
                                /public/img/black-cloud/bch-03-1440.webp 1440w,\
                                /public/img/black-cloud/bch-03-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/black-cloud/bch-03-1152.jpg 1152w,\
                                /public/img/black-cloud/bch-03-1440.jpg 1440w,\
                                /public/img/black-cloud/bch-03-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/black-cloud/bch-03-1920.jpg", alt=imageDetail03)

                //- IMG BCH 04
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail04}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/black-cloud/bch-04-1152.webp 1152w,\
                                /public/img/black-cloud/bch-04-1440.webp 1440w,\
                                /public/img/black-cloud/bch-04-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/black-cloud/bch-04-1152.jpg 1152w,\
                                /public/img/black-cloud/bch-04-1440.jpg 1440w,\
                                /public/img/black-cloud/bch-04-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/black-cloud/bch-04-1920.jpg", alt=imageDetail04)

                //- IMG BCH 05
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail05}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/black-cloud/bch-05-1152.webp 1152w,\
                                /public/img/black-cloud/bch-05-1440.webp 1440w,\
                                /public/img/black-cloud/bch-05-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/black-cloud/bch-05-1152.jpg 1152w,\
                                /public/img/black-cloud/bch-05-1440.jpg 1440w,\
                                /public/img/black-cloud/bch-05-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/black-cloud/bch-05-1920.jpg", alt=imageDetail05)

                //- IMG BCH 06
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail06}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/black-cloud/bch-06-1152.webp 1152w,\
                                /public/img/black-cloud/bch-06-1440.webp 1440w,\
                                /public/img/black-cloud/bch-06-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/black-cloud/bch-06-1152.jpg 1152w,\
                                /public/img/black-cloud/bch-06-1440.jpg 1440w,\
                                /public/img/black-cloud/bch-06-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/black-cloud/bch-06-1920.jpg", alt=imageDetail06)

                //- IMG BCH 07
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail07}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/black-cloud/bch-07-1152.webp 1152w,\
                                /public/img/black-cloud/bch-07-1440.webp 1440w,\
                                /public/img/black-cloud/bch-07-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/black-cloud/bch-07-1152.jpg 1152w,\
                                /public/img/black-cloud/bch-07-1440.jpg 1440w,\
                                /public/img/black-cloud/bch-07-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/black-cloud/bch-07-1920.jpg", alt=imageDetail07)
                
                //- VIDEO BCH 00
                section.m-image__wrapper
                    span.a-image__description__item #{videoDetail01}
                    video(playsinline preload="auto" autoplay muted loop="1")
                        source(src="/public/img/black-cloud/video_00.mp4" type="video/mp4")
                        source(src="/public/img/black-cloud/video_00.webm" type="video/webm")
                        p video : opening  

                //- VIDEO BCH 01
                section.m-image__wrapper
                    span.a-image__description__item #{videoDetail01}
                    video(playsinline preload="auto" autoplay muted loop="1")
                        source(src="/public/img/black-cloud/video_01.mp4" type="video/mp4")
                        source(src="/public/img/black-cloud/video_01.webm" type="video/webm")
                        p video : opening

                //- VIDEO BCH 02
                section.m-image__wrapper
                    span.a-image__description__item #{videoDetail01}
                    video(playsinline preload="auto" autoplay muted loop="1")
                        source(src="/public/img/black-cloud/video_02.mp4" type="video/mp4")
                        source(src="/public/img/black-cloud/video_02.webm" type="video/webm")
                        p video : opening

                //- VIDEO BCH 03
                section.m-image__wrapper
                    span.a-image__description__item #{videoDetail01}
                    video(playsinline preload="auto" autoplay muted loop="1")
                        source(src="/public/img/black-cloud/video_03.mp4" type="video/mp4")
                        source(src="/public/img/black-cloud/video_03.webm" type="video/webm")
                        p video : opening

                //- VIDEO BCH 04
                section.m-image__wrapper
                    span.a-image__description__item #{videoDetail01}
                    video(playsinline preload="auto" autoplay muted loop="1")
                        source(src="/public/img/black-cloud/video_04.mp4" type="video/mp4")
                        source(src="/public/img/black-cloud/video_04.webm" type="video/webm")
                        p video : opening

                //- VIDEO BCH 05
                section.m-image__wrapper
                    span.a-image__description__item #{videoDetail01}
                    video(playsinline preload="auto" autoplay muted loop="1")
                        source(src="/public/img/black-cloud/video_05.mp4" type="video/mp4")
                        source(src="/public/img/black-cloud/video_05.webm" type="video/webm")
                        p video : opening

                //- VIDEO BCH 06
                section.m-image__wrapper
                    span.a-image__description__item #{videoDetail01}
                    video(playsinline preload="auto" autoplay muted loop="1")
                        source(src="/public/img/black-cloud/video_06.mp4" type="video/mp4")
                        source(src="/public/img/black-cloud/video_06.webm" type="video/webm")
                        p video : opening
                //- footer mobile
                include includes/footer-mobile

            //- Container Right 
            div.m-pageSplit_projectRight__wrapper
                //- Information : client title area description
                //- Client
                section.m-container_grid_client
                    div.a-project_info__item Client.
                    h1.a-project_info__item#desktop #{clientName}
                    h1.a-project_info__item#mobile #{clientNameMobile}
                    a._slideHover.material-icons#returnHome(href="/index.html") drive_file_move_rtl

                //- Title projet
                section.m-container_grid_description#returnTop
                    div.a-project_info__item Descr.
                    div.a-project_info__item #{catName}
                    div.a-project_info__item Area.
                    div.a-project_info__item #{localisationProject}
                        span#countryFlagEmoji #{countryFlag}

                //- Title projet
                section.m-container_grid_label
                    div.a-project_info__item Label.
                    div.a-project_info__item #{labelProject}

                
                //- Container Project
                //- Textes projets
                section.m-text_project__container
                    //- List Services
                    .scrollmenu.scroll_horizontal#list_services
                        #list_services_still 
                            span Service(s) : 
                        ul#list_services_justify
                            span #{service01}
                            span #{service02}
                            span #{service03}
                            span #{service04}

                    //- TEXTE CONTENU\
                    .m-text_project__wrapper
                        p.a-text_project__itemVisual The studio has collaborated with artist Lawrence Lek to bring a text-based interactive game to life as part of Black Cloud Highway 黑云高速公路, Lawrence’s second solo exhibition at Sadie Coles HQ m, London. For this collaboration, PPOffice was entrusted with the artistic direction of the game: from defining the user experience, developing the interface graphic design and interactions to overseeing the game's programming alongside the developper.

                    //- External Website
                    .scrollmenu.scroll_horizontal
                        #list_services_still
                            span External links : 
                        #list_services_justify.external_links
                            a.margin-right.highlight__link(href=link01 target="_blank", rel="noreferrer noopener") #{linkDetail01}
                            a.margin-right.highlight__link(href=link02 target="_blank", rel="noreferrer noopener") #{linkDetail02}
                            a#onlineExp(href=linkDp target="_blank" rel="noreferrer noopener") #{linkDetail03}
                    .o-parent__container
                        #border-top 
                        .copyright-image
                            span ©
                            span #{credit01}

                //- Accorddion details
                .o-details_accordion__container
                    .m-details_accordion__wrapper
                        button(type="button" class="accordion--services") Details
                        .panel
                            //- Service 01
                            ul.service
                                li.number-service 01
                                li.infos-service
                                    h4.title-service #{titleService01}
                                    p.content-service #{contentService011}
                                    p.content-service #{contentService012}
                                    p.content-service #{contentService013}
                
                //- Next previous project
                section.o-navigation_buttons
                    div.m-navigation_buttons
                        div#colLeft.a-navigation_buttons
                        a.a-navigation_buttons._slideHover(href=nextProject) Next project 

                //-Footer Desktop
                include includes/footer-desktop-project

        //- Mixin js scripts
        include includes/script
        
