//- IMAGE DETAILS
-let imageDetail01 = "_exhibition view: in-game, touchscreen monitor 1"
-let imageDetail02 = "_exhibition view: in-game, touchscreen monitor 2"
-let imageDetail03 = "_exhibition view: BSOD, touchscreen monitor 1 & 2"
-let imageDetail04 = "_exhibition view: start screen, touchsreen monitor 1"
-let imageDetail05 = "_exhibition view: full installation view 1"
-let imageDetail06 = "_exhibition view: full installation view 2"
-let imageDetail07 = "_exhibition view: full installation view 3"


//- IMAGE DETAILS
-let videoDetail01 = "_video opening"

//- PROJECT INFORMATION
-let clientName = "Lawrence Lek & Sadie Cole HQ"
-let clientNameMobile = "Lawrence Lek & Sadie Cole HQ"
-let catName = "Interactive Experience"
-let labelProject = "LLEK-INEX-2023"
-let localisationProject = "London, UK"
-let countryFlag = "🇬🇧"
-let dateProject = "2023"

//- SERVICES
-let service01 = "Art direction,"
-let service02 = "UI/UX Design development,"
-let service03 = "Programming"


//- EXTERNAL LINKS
-let link01 = "https://lawrencelek.com/"
-let link02 = "https://www.sadiecoles.com/exhibitions/954-lawrence-lek-black-cloud-highway/press_release_text/"

//- LINK DETAILS 
-let linkDetail01 = "Lawrence Lek"
-let linkDetail02 = "Sadie Coles HQ"

//- CREDITS
-let credit01 = "Copyright — Lawrence Lek, courtesy of Sadie Coles HQ, London."
-let credit02 = "Writing — Lawrence Lek and Holly Gramazio,"

//- ACCORDION DETAILS
//- DETAIL01
-let titleService01 = "Black Cloud Highway 黑云高速公路" 
-let contentService011 = "Interactive Text-based Game, Touchscreen Monitors, Stereo Sound,"
-let contentService012 = "Duration Variable"

//-NEXT PREVIOUS LINKS
-let previousProject=""
-let nextProject = "/espace-loisir-culture.html"



//- DEBUT HTML
doctype html
html(lang='en')
    head
        include includes/meta
        title PPOffice_#{clientName}
    body
        main.o-pageSplit__container
            .m-pageSplit_projectLeft__wrapper

                //- VIDEO BCH 00 - 01
                section.m-video__wrapper
                    .m-video__item
                        span.a-image__description__item #{videoDetail01}
                        video(playsinline preload="auto" muted loop="1" controls poster="/public/img/black-cloud/video_00_poster.jpg")
                            source(src="/public/img/black-cloud/video_00.webm" type="video/webm")
                            source(src="/public/img/black-cloud/video_00.mp4" type="video/mp4")
                            p video : opening experience 
                    .m-video__item
                        span.a-image__description__item #{videoDetail01}
                        video(playsinline preload="auto" muted loop="1" controls poster="/public/img/black-cloud/video_01_poster.jpg")
                            source(src="/public/img/black-cloud/video_01.webm" type="video/webm")
                            source(src="/public/img/black-cloud/video_01.mp4" type="video/mp4")
                            p video : experience 01

                //- IMG BCH 01
                section.m-image__wrapper#video-margin
                        span.a-image__description__item #{imageDetail01}
                        picture.a-projectImage__item
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-01-400.webp 1x,\
                                        /public/img/black-cloud/bch-01-800.webp 2x,\
                                        /public/img/black-cloud/bch-01-800.webp 1x,\
                                        /public/img/black-cloud/bch-01-1600.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-01-400.jpg 1x,\
                                        /public/img/black-cloud/bch-01-800.jpg 2x,\
                                        /public/img/black-cloud/bch-01-800.jpg 1x,\
                                        /public/img/black-cloud/bch-01-1600.jpg 2x,"
                                type="image/jpg"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-01-1920.webp 1x,\
                                        /public/img/black-cloud/bch-01-original.webp 2x"
                                type="image/webp"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-01-1920.jpg 1x,\
                                        /public/img/black-cloud/bch-01-original.jpg 2x"
                                type="image/jpg"
                            )
                            img(src="/public/img/black-cloud/bch-01-original.jpg", alt=imageDetail02)

                //- VIDEO BCH 02 - 03
                section.m-video__wrapper
                    .m-video__item
                        span.a-image__description__item #{videoDetail01}
                        video(playsinline preload="auto" muted loop="1" controls poster="/public/img/black-cloud/video_02_poster.jpg")
                            source(src="/public/img/black-cloud/video_02.webm" type="video/webm")
                            source(src="/public/img/black-cloud/video_02.mp4" type="video/mp4")
                            p video : opening
                    .m-video__item
                        span.a-image__description__item #{videoDetail01}
                        video(playsinline preload="auto" muted loop="1" controls poster="/public/img/black-cloud/video_03_poster.jpg")
                            source(src="/public/img/black-cloud/video_03.webm" type="video/webm")
                            source(src="/public/img/black-cloud/video_03.mp4" type="video/mp4")
                            p video : opening

                //- IMG BCH 02
                section.m-image__wrapper#video-margin(onclick="change(this)")
                        span.a-image__description__item #{imageDetail02}
                        picture.a-projectImage__item
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-02-400.webp 1x,\
                                        /public/img/black-cloud/bch-02-800.webp 2x,\
                                        /public/img/black-cloud/bch-02-800.webp 1x,\
                                        /public/img/black-cloud/bch-02-1600.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-02-400.jpg 1x,\
                                        /public/img/black-cloud/bch-02-800.jpg 2x,\
                                        /public/img/black-cloud/bch-02-800.jpg 1x,\
                                        /public/img/black-cloud/bch-02-1600.jpg 2x,"
                                type="image/jpg"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-02-1920.webp 1x,\
                                        /public/img/black-cloud/bch-02-original.webp 2x"
                                type="image/webp"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-02-1920.jpg 1x,\
                                        /public/img/black-cloud/bch-02-original.jpg 2x"
                                type="image/jpg"
                            )
                            img(src="/public/img/black-cloud/bch-02-original.jpg", alt=imageDetail02)

                //- IMG BCH 03
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail03}
                        picture.a-projectImage__item
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-03-400.webp 1x,\
                                        /public/img/black-cloud/bch-03-800.webp 2x,\
                                        /public/img/black-cloud/bch-03-800.webp 1x,\
                                        /public/img/black-cloud/bch-03-1600.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-03-400.jpg 1x,\
                                        /public/img/black-cloud/bch-03-800.jpg 2x,\
                                        /public/img/black-cloud/bch-03-800.jpg 1x,\
                                        /public/img/black-cloud/bch-03-1600.jpg 2x,"
                                type="image/jpg"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-03-1920.webp 1x,\
                                        /public/img/black-cloud/bch-03-original.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-03-1920.jpg 1x,\
                                        /public/img/black-cloud/bch-03-original.jpg 2x,"
                                type="image/jpg"
                            )
                            img(src="/public/img/black-cloud/bch-03-original.jpg", alt=imageDetail02)
                
                //- VIDEO BCH 04 - 05
                section.m-video__wrapper
                    .m-video__item
                        span.a-image__description__item #{videoDetail01}
                        video(playsinline preload="auto" muted loop="1" controls poster="/public/img/black-cloud/video_04_poster.jpg")
                            source(src="/public/img/black-cloud/video_04.webm" type="video/webm")
                            source(src="/public/img/black-cloud/video_04.mp4" type="video/mp4")
                            p video : opening
                    .m-video__item
                        span.a-image__description__item #{videoDetail01}
                        video(playsinline preload="auto" muted loop="1" controls poster="/public/img/black-cloud/video_05_poster.jpg")
                            source(src="/public/img/black-cloud/video_05.webm" type="video/webm")
                            source(src="/public/img/black-cloud/video_05.mp4" type="video/mp4")
                            p video : opening

                //- IMG BCH 04
                section.m-image__wrapper#video-margin
                        span.a-image__description__item #{imageDetail04}
                        picture.a-projectImage__item
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-04-400.webp 1x,\
                                        /public/img/black-cloud/bch-04-800.webp 2x,\
                                        /public/img/black-cloud/bch-04-800.webp 1x,\
                                        /public/img/black-cloud/bch-04-1600.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-04-400.jpg 1x,\
                                        /public/img/black-cloud/bch-04-800.jpg 2x,\
                                        /public/img/black-cloud/bch-04-800.jpg 1x,\
                                        /public/img/black-cloud/bch-04-1600.jpg 2x,"
                                type="image/jpg"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-04-1920.webp 1x,\
                                        /public/img/black-cloud/bch-04-original.webp 2x"
                                type="image/webp"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-04-1920.jpg 1x,\
                                        /public/img/black-cloud/bch-04-original.jpg 2x"
                                type="image/jpg"
                            )
                            img(src="/public/img/black-cloud/bch-04-original.jpg", alt=imageDetail02)

                //- IMG BCH 05
                section.m-image__wrapper(onclick="change(this)")
                        span.a-image__description__item #{imageDetail05}
                        picture.a-projectImage__item
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-05-400.webp 1x,\
                                        /public/img/black-cloud/bch-05-800.webp 2x,\
                                        /public/img/black-cloud/bch-05-800.webp 1x,\
                                        /public/img/black-cloud/bch-05-1600.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-05-400.jpg 1x,\
                                        /public/img/black-cloud/bch-05-800.jpg 2x,\
                                        /public/img/black-cloud/bch-05-800.jpg 1x,\
                                        /public/img/black-cloud/bch-05-1600.jpg 2x,"
                                type="image/jpg"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-05-1920.webp 1x,\
                                        /public/img/black-cloud/bch-05-original.webp 2x"
                                type="image/webp"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-05-1920.jpg 1x,\
                                        /public/img/black-cloud/bch-05-original.jpg 2x"
                                type="image/jpg"
                            )
                            img(src="/public/img/black-cloud/bch-05-original.jpg", alt=imageDetail02)

                //- IMG BCH 06
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail06}
                        picture.a-projectImage__item
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-06-400.webp 1x,\
                                        /public/img/black-cloud/bch-06-800.webp 2x,\
                                        /public/img/black-cloud/bch-06-800.webp 1x,\
                                        /public/img/black-cloud/bch-06-1600.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-06-400.jpg 1x,\
                                        /public/img/black-cloud/bch-06-800.jpg 2x,\
                                        /public/img/black-cloud/bch-06-800.jpg 1x,\
                                        /public/img/black-cloud/bch-06-1600.jpg 2x,"
                                type="image/jpg"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-06-1920.webp 1x,\
                                        /public/img/black-cloud/bch-06-original.webp 2x"
                                type="image/webp"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-06-1920.jpg 1x,\
                                        /public/img/black-cloud/bch-06-original.jpg 2x"
                                type="image/jpg"
                            )
                            img(src="/public/img/black-cloud/bch-06-original.jpg", alt=imageDetail02)

                //- IMG BCH 07
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail07}
                        picture.a-projectImage__item
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-07-400.webp 1x,\
                                        /public/img/black-cloud/bch-07-800.webp 2x,\
                                        /public/img/black-cloud/bch-07-800.webp 1x,\
                                        /public/img/black-cloud/bch-07-1600.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/bch-07-400.jpg 1x,\
                                        /public/img/black-cloud/bch-07-800.jpg 2x,\
                                        /public/img/black-cloud/bch-07-800.jpg 1x,\
                                        /public/img/black-cloud/bch-07-1600.jpg 2x,"
                                type="image/jpg"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-07-1920.webp 1x,\
                                        /public/img/black-cloud/bch-07-original.webp 2x"
                                type="image/webp"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/bch-07-1920.jpg 1x,\
                                        /public/img/black-cloud/bch-07-original.jpg 2x"
                                type="image/jpg"
                            )
                            img(src="/public/img/black-cloud/bch-07-original.jpg", alt=imageDetail02)
                //- footer mobile
                include includes/footer-mobile

            //- Container Right 
            div.m-pageSplit_projectRight__wrapper
                //- Information : client title area description
                //- Client
                section.m-container_grid_client
                    div.a-project_info__item Client
                    h1.a-project_info__item#desktop #{clientName}
                    h1.a-project_info__item#mobile #{clientNameMobile}
                    a._slideHover.material-icons#returnHome(href="/index.html") drive_file_move_rtl

                //- Title projet
                section.m-container_grid_description#returnTop
                    div.a-project_info__item Descr.
                    div.a-project_info__item #{catName}
                    div.a-project_info__item Area
                    div.a-project_info__item #{localisationProject}
                    div.a-project_info__item.flagUK 
                    div.a-project_info__item 



                //- Title projet
                section.m-container_grid_label
                    div.a-project_info__item Label
                    div.a-project_info__item #{labelProject}

                
                //- Container Project
                //- Textes projets
                section.m-text_project__container
                    //- List Services
                    .scrollmenu.scroll_horizontal#list_services
                        #list_services_still 
                            span Service(s) : 
                        ul#list_services_justify
                            span #{service01}
                            span #{service02}
                            span #{service03}
                            span #{service04}

                    //- TEXTE CONTENU\
                    .m-text_project__wrapper
                        p.a-text_project__itemVisual The studio has collaborated with artist Lawrence Lek to bring a text-based interactive game to life as part of Black Cloud Highway 黑云高速公路, Lawrence’s second solo exhibition at Sadie Coles HQ m, London. For this collaboration, PPOffice was entrusted with the artistic direction of the game: from defining the user experience, developing the interface graphic design and interactions to overseeing the game's programming alongside the developper.
                        p.a-text_project__itemVisual Set in an unspecified near future, Black Cloud tells the story of a lone surveillance AI in the abandoned smart city of SimBeijing, a replica of China’s capital built by tech conglomerate Farsight to road-test self-driving cars. After Black Cloud blindly fulfils its assignment of reporting accidents, the AI awakens to the fact that its obedience has led to the banishment of all other AIs, leaving the metropolis deserted. Seeking solace and resolution to its unfulfilled aspirations, Black Cloud begins a dialogue with Guanyin — a self-help therapy program created by Farsight to alleviate suffering in their products. Throughout the film, an atmosphere of foreboding persists, underscored by the pulsating soundtrack produced by Lek and frequent collaborator Kode9.
                        p.a-text_project__itemVisual On the first floor, the fragmented car motif lies horizontal, encircling the role-playing game Black Cloud Highway. Taking place shortly before the events of Black Cloud, the game switches point of view to a self-driving car seeking to escape SimBeijing, who views the surveillance AI as a nemesis rather than an ally. As the player uses the touchscreen interface to make decisions during their journey down the highway, they confront the intractable problem of autonomy in an era of digital surveillance — a situation which, the artist suggests, affects the player as much as the fictional protagonist.

                        p.a-text_project__itemVisual Black Cloud Highway, 黑云高速公路, Lawrence Lek, 2023.
                            div.collaboratorGroup
                                div.collaborator
                                    span.collaborator Lawrence Lek and Holly Gramazio
                                    span.collaboratorDetail  — Writing,  
                                div.collaborator
                                    span.collaborator Panama Papers Office
                                    span.collaboratorDetail  — Art Direction, 
                                div.collaborator
                                    a.collaboratorLink.highlight__link(href="https://piccolora.fr/" target="_blank", rel="noreferrer noopener") Laura Piccolo
                                    span.collaboratorDetail  — Programming, 
                                div.collaborator
                                    span.collaborator Celeste Burlina
                                    span.collaboratorDetail  — Scenography, 
                                div.collaborator
                                    span.collaborator Connor Linskey
                                    span.collaboratorDetail  — Production.
                                div.collaborator
                                    a.collaboratorLink.highlight__link(href="https://www.instagram.com/kode9/?hl=fr" target="_blank", rel="noreferrer noopener") Kode9
                                    span.collaboratorDetail  — Music,


                    //- External Website
                    .scrollmenu.scroll_horizontal
                        #list_services_still
                            span External links : 
                        #list_services_justify.external_links
                            a.margin-right.highlight__link(href=link01 target="_blank", rel="noreferrer noopener") #{linkDetail01}
                            a.margin-right.highlight__link(href=link02 target="_blank", rel="noreferrer noopener") #{linkDetail02}
                            a#onlineExp(href=linkDp target="_blank" rel="noreferrer noopener") #{linkDetail03}
                    .o-parent__container
                        #border-top 
                        .copyright-image
                            span ©
                            span #{credit01}

                //- Accorddion details
                .o-details_accordion__container
                    .m-details_accordion__wrapper
                        button(type="button" class="accordion--services") Details
                        .panel
                            //- Service 01
                            ul.service
                                li.number-service 01
                                li.infos-service
                                    h4.title-service #{titleService01}
                                    p.content-service #{contentService011}
                                    p.content-service #{contentService012}
                                    p.content-service #{contentService013}
                
                //- Next previous project
                section.o-navigation_buttons
                    div.m-navigation_buttons
                        div#colLeft.a-navigation_buttons
                        a.a-navigation_buttons._slideHover(href=nextProject) Next project 

                //-Footer Desktop
                include includes/footer-desktop-project

        //- Mixin js scripts
        include includes/script
        
