//- IMAGE DETAILS
-let imageDetail00 = "_poster : 120×176"
-let imageDetail01 = "_booklet : cover, full view"
-let imageDetail02 = "_booklet : two-page spread 01"
-let imageDetail03 = "_booklet : two-page spread 01"
-let imageDetail04 = "_booklet : two-page spread detail"
-let imageDetail05 = "_booklet : two-page spread 02"
-let imageDetail06 = "_booklet : two-page spread 03"
-let imageDetail07 = "_booklet : two-page spread detail"
-let imageDetail08 = "_booklet : two-page spread 04"
-let imageDetail09 = "_booklet : two-page spread 05"
-let imageDetail10 = "_booklet : two-page spread 06"
-let imageDetail11 = "_booklet : two-page spread 07"

//- PROJECT INFORMATION
-let clientName = "Espace Loisir Culture"
-let clientNameMobile = "ELC"
-let catName = "Cultural Association"
-let labelProject = "ELC-ED-2022"
-let localisationProject = "Grand Est region, FR"
-let countryFlag = "🇫🇷"
-let dateProject = "2022"

//- SERVICES
-let service01 = "Graphic design,"
-let service02 = "Editorial design "


//- EXTERNAL LINKS
-let link01 = "https://www.espaceloisirculture.com/"

//- LINK DETAILS 
-let linkDetail01 = "Espace Loisir Culture"

//- CREDITS
-let credit01 = "Copyright — PPOffice 2022"

//- ACCORDION DETAILS
//- DETAIL01
-let titleService01 = "Season program booklet " 
-let contentService011 = "Printing process : Offset (4 spot colors + black)"
-let contentService012 = "Dimensions : multi-format | 15 000 copies"
-let contentService013 = "Printing to the care of Typofset (Montreuil, FR)"

//- DETAIL02
-let titleService02 = "Season poster" 
-let contentService021 = "Printing process : Numeric press" 
-let contentService022 = "Dimensions : 120×176 cm" 

//-NEXT PREVIOUS LINKS
-let previousProject="/black-cloud.html"
-let nextProject = "/decompressed-prism.html"



//- DEBUT HTML
doctype html
html(lang='en')
    head
        include includes/meta
        title PPOffice_#{clientName}
    body
        main.o-pageSplit__container
            .m-pageSplit_projectLeft__wrapper
                //- IMG ELC poster
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail00}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-poster-1152.webp 1152w,\
                                /public/img/elc/elc-poster-1440.webp 1440w,\
                                /public/img/elc/elc-poster-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-poster-1152.jpg 1152w,\
                                /public/img/elc/elc-poster-1440.jpg 1440w,\
                                /public/img/elc/elc-poster-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-poster-1920.jpg", alt=imageDetail00)
                //- IMG ELC 01
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail01}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-01-1152.webp 1152w,\
                                /public/img/elc/elc-01-1440.webp 1440w,\
                                /public/img/elc/elc-01-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-01-1152.jpg 1152w,\
                                /public/img/elc/elc-01-1440.jpg 1440w,\
                                /public/img/elc/elc-01-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-01-1920.jpg", alt=imageDetail01)
                //- IMG ELC 02
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail02}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-02-1152.webp 1152w,\
                                /public/img/elc/elc-02-1440.webp 1440w,\
                                /public/img/elc/elc-02-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-02-1152.jpg 1152w,\
                                /public/img/elc/elc-02-1440.jpg 1440w,\
                                /public/img/elc/elc-02-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-02-1920.jpg", alt=imageDetail02)
                //- IMG ELC 03
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail03}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-03-1152.webp 1152w,\
                                /public/img/elc/elc-03-1440.webp 1440w,\
                                /public/img/elc/elc-03-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-03-1152.jpg 1152w,\
                                /public/img/elc/elc-03-1440.jpg 1440w,\
                                /public/img/elc/elc-03-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-03-1920.jpg", alt=imageDetail03)
                //- IMG ELC 04
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail04}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-04-1152.webp 1152w,\
                                /public/img/elc/elc-04-1440.webp 1440w,\
                                /public/img/elc/elc-04-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-04-1152.jpg 1152w,\
                                /public/img/elc/elc-04-1440.jpg 1440w,\
                                /public/img/elc/elc-04-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-04-1920.jpg", alt=imageDetail04)
                //- IMG ELC 05
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail05}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-05-1152.webp 1152w,\
                                /public/img/elc/elc-05-1440.webp 1440w,\
                                /public/img/elc/elc-05-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-05-1152.jpg 1152w,\
                                /public/img/elc/elc-05-1440.jpg 1440w,\
                                /public/img/elc/elc-05-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-05-1920.jpg", alt=imageDetail05)
                //- IMG ELC 06
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail06}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-06-1152.webp 1152w,\
                                /public/img/elc/elc-06-1440.webp 1440w,\
                                /public/img/elc/elc-06-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-06-1152.jpg 1152w,\
                                /public/img/elc/elc-06-1440.jpg 1440w,\
                                /public/img/elc/elc-06-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-06-1920.jpg", alt=imageDetail06)   
                //- IMG ELC 07
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail07}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-07-1152.webp 1152w,\
                                /public/img/elc/elc-07-1440.webp 1440w,\
                                /public/img/elc/elc-07-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-07-1152.jpg 1152w,\
                                /public/img/elc/elc-07-1440.jpg 1440w,\
                                /public/img/elc/elc-07-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-07-1920.jpg", alt=imageDetail07)   
                //- IMG ELC 08
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail08}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-08-1152.webp 1152w,\
                                /public/img/elc/elc-08-1440.webp 1440w,\
                                /public/img/elc/elc-08-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-08-1152.jpg 1152w,\
                                /public/img/elc/elc-08-1440.jpg 1440w,\
                                /public/img/elc/elc-08-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-08-1920.jpg", alt=imageDetail08)   
                //- IMG ELC 09
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail09}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-09-1152.webp 1152w,\
                                /public/img/elc/elc-09-1440.webp 1440w,\
                                /public/img/elc/elc-09-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-09-1152.jpg 1152w,\
                                /public/img/elc/elc-09-1440.jpg 1440w,\
                                /public/img/elc/elc-09-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-09-1920.jpg", alt=imageDetail09)   
                //- IMG ELC 10
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail10}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-10-1152.webp 1152w,\
                                /public/img/elc/elc-10-1440.webp 1440w,\
                                /public/img/elc/elc-10-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-10-1152.jpg 1152w,\
                                /public/img/elc/elc-10-1440.jpg 1440w,\
                                /public/img/elc/elc-10-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-10-1920.jpg", alt=imageDetail10)   
                //- IMG ELC 11
                section.m-image__wrapper
                        span.a-image__description__item #{imageDetail11}
                        picture.a-projectImage__item
                            source(
                            type="image/webp"
                            srcset="\
                                /public/img/elc/elc-11-1152.webp 1152w,\
                                /public/img/elc/elc-11-1440.webp 1440w,\
                                /public/img/elc/elc-11-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg"
                            srcset="\
                                /public/img/elc/elc-11-1152.jpg 1152w,\
                                /public/img/elc/elc-11-1440.jpg 1440w,\
                                /public/img/elc/elc-11-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) 50vw, (max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/elc-11-1920.jpg", alt=imageDetail11) 

                //- footer mobile
                include includes/footer-mobile

            //- Container Right 
            div.m-pageSplit_projectRight__wrapper
                //- Information : client title area description
                //- Client
                section.m-container_grid_client
                    div.a-project_info__item Client
                    h1.a-project_info__item#desktop #{clientName}
                    h1.a-project_info__item#mobile #{clientNameMobile}
                    a._slideHover.material-icons#returnHome(href="/index.html") drive_file_move_rtl

                //- Title projet
                section.m-container_grid_description#returnTop
                    div.a-project_info__item Descr.
                    div.a-project_info__item #{catName}
                    div.a-project_info__item Area
                    div.a-project_info__item #{localisationProject}
                    div.a-project_info__item.flagFR 
                    div.a-project_info__item

                //- Title projet
                section.m-container_grid_label
                    div.a-project_info__item Label
                    div.a-project_info__item #{labelProject}

                
                //- Container Project
                //- Textes projets
                section.m-text_project__container
                    //- List Services
                    .scrollmenu.scroll_horizontal#list_services
                        #list_services_still 
                            span Service(s) : 
                        ul#list_services_justify
                            span #{service01}
                            span #{service02}
                            span #{service03}
                            span #{service04}

                    //- TEXTE CONTENU\
                    .m-text_project__wrapper
                        p.a-text_project__itemVisual 2022/2023 Season program booklet & poster designed for Espace Loisir Culture, a non-profit organisation of the Grand-Est region in France.
                        p.a-text_project__itemVisual The Espace Loisir Culture is an association founded in 1966 and located in Montmirail. A multi-disciplinary place of creation and production, the ELC associates live performance, dance, music cinema and linguistic and sports activities. The association addresses itself to the largest public, so that its activities are a popular tool of individual and collective elevation. It is a true place of artistic gathering, of cultural bubbling and of conviviality that mixes genres, and audiences, the association offers about fifty cultural and sports activities. The ELC also presents a cultural program. Conferences, festivals, productions of plays, dance shows and presentations are organized each season from September to June. The association is administered by a board of directors and is run by a team of by a team of 80 volunteers. It is recognized as being of general interest.

                    //- External Website
                    .scrollmenu.scroll_horizontal
                        #list_services_still
                            span External links : 
                        #list_services_justify.external_links
                            a.margin-right.highlight__link(href=link01 target="_blank", rel="noreferrer noopener") #{linkDetail01}
                            a.margin-right.highlight__link(href=link02 target="_blank", rel="noreferrer noopener") #{linkDetail02}
                            a#onlineExp(href=linkDp target="_blank" rel="noreferrer noopener") #{linkDetail03}
                    .o-parent__container
                        #border-top 
                        .copyright-image
                            span ©
                            span #{credit01}

                //- Accorddion details
                .o-details_accordion__container
                    .m-details_accordion__wrapper
                        button(type="button" class="accordion--services") Details
                        .panel
                            //- Service 01
                            ul.service
                                li.number-service 01
                                li.infos-service
                                    h4.title-service #{titleService01}
                                    p.content-service #{contentService011}
                                    p.content-service #{contentService012}
                                    p.content-service #{contentService013}
                            //- Service 02
                            ul.service
                                li.number-service 02
                                li.infos-service
                                    h4.title-service #{titleService02}
                                    p.content-service #{contentService021}
                                    p.content-service #{contentService022}
                
                //- Next previous project
                include includes/next-previous-container

                //-Footer Desktop
                include includes/footer-desktop-project

        //- Mixin js scripts
        include includes/script
        
