//- SELECTED CLIENTS
-
    let client01 = {
        'name': 'FRAC — Fonds Régional d’Art Contemporain (FR)',
        'url' : 'https://www.frac.corsica/fr'
    }
-
    let client02 = {
        'name' : 'Hyperpavilion (USA)',
        'url' : 'https://www.hyperpavilion.io/'
    }
-
    let client03 = {
        'name' : 'Théâtre Nanterre-Amandiers (FR)',
        'url' : 'https://nanterre-amandiers.com/'
    }
-
    let client04={
        'name':'MBAL — Musée des Beaux-Art Le Locle (CH)',
        'url': 'https://www.mbal.ch/'
    }
-
    let client05 = {
        'name' : 'Salvatore Vitale (IT)',
        'url': 'https://salvatore-vitale.com/'
    }
-
    let client06 = {
        'name':'Refresh.bzh (FR)',
        'url': 'https://www.refresh.bzh/'
    }
-
    let client07 = {
        'name' : 'Timur Si-Qin (USA/GER)',
        'url' : 'http://timursiqin.com/'
    }
-
    let client08 = {
        'name' : 'Galerie Von Ammon (USA)',
        'url' : 'https://www.vonammon.co/'
    }
-
    let client09 = {
        'name' : 'Groupe SOS (FR)',
        'url' : 'https://www.groupe-sos.org/'
    }
-
    let client10 = {
        'name':'Sony Music Sweden (SW)',
        'url': 'https://sonymusic.se/#/'
    }
-
    let client11 = {
        'name': 'Espace Loisir Culture (FR)',
        'url' : 'https://www.espaceloisirculture.com/'
    }
-
    let client12 = {
        'name': 'LAS Art Foundation (GE)',
        'url' : 'https://www.las-art.foundation/'
    }
-
    let client13 = {
        'name': 'Lawrence Lek (UK)',
        'url' : 'https://lawrencelek.com/'
    }
-
    let client14 = {
        'name': 'Sadie Coles HQ (UK)',
        'url' : 'https://www.sadiecoles.com/'
    }
-
    let client15 = {
        'name': 'Musée Fesch (FR)',
        'url' : 'https://www.musee-fesch.com/'
    }

//- CONTRIBUTION FEATURE
-
    let featureAiIndex = {
            "date":"2023",
            "url" : "https://ai-index.eu/refresh/",
            "title" : "Refresh",
            "editor" : "Published by AI INDEX",
            "area": "World Wide Web, WWW."
    };
-
    let featureSlanted = {
            "date":"2022",
            "url" : "https://www.slanted.de/product/slanted-magazine-40-experimental-type/",
            "title" : "Slanted Magazine #40 — Experimental Type",
            "editor" : "Published by Slanted Publishers",
            "area": "Karlsruhe, Germany — Distributed World Wide."
    };
-
    let featureInt = {
            "date":"2021",
            "url" : "https://www.itsnicethat.com/articles/panama-papers-office-graphic-design-201021",
            "title" : "Panama Papers.Office merges tech, 3D and typographic systems into its detailed graphic design",
            "editor" : "It's Nice That",
            "area": "World Wide Web, WWW."
    };
-
    let featureC241 = {
            "date":"2021",
            "url" : "https://www.presentbooks.de/product/c24-archive-one",
            "title" : "C24 Archive One",
            "editor" : "A special book about collaborative projects from different creative disciplines.\nPublished by Present Books.",
            "area": "Berlin, DE."
    };
-
    let featureVk = {
            "date":"2020",
            "url" : "https://www.instagram.com/vrintskolsteren.editions/?hl=fr",
            "title" : "« A to Z, the curation of independent type designers »",
            "editor" : "Published by Vrints-Kolstersen Editions.",
            "area": "Antwerp, BE."
    };
-
    let featureNa = {
            "date":"2020",
            "url" : "https://www.sorry-press.com/new-aesthetic-2",
            "title" : "« New aesthetic » Vol.2",
            "editor" : "Published by Sorry Press.",
            "area": "Berlin, DE."
    };
-
    let featureC242 = {
            "date":"2020",
            "url" : "https://www.collide24.org/2019/11/28/graphic-design/the-forces-behind-the-visuality-of-a-malleable-identity/",
            "title" : "The forces behind the visuality of a « Malleable Identity »",
            "editor" : "C24 — Online interview with Ada Sokol.",
            "area": "World Wide Web, WWW."
    };
-
    let featureDsaa = {
            "date":"2019",
            "title" : "« REVU » DSAA Image-Média-Editorial",
            "editor" : "Published by Duperré School.",
            "area": "Paris, FR."
    };
-
    let featurePmedium = {
            "date":"2020",
            "url" : "https://www.centrenationaldugraphisme.fr/le-signe/ressources/editions/post-medium-biennale-internationale-de-design-graphique-2019",
            "title" : "« Post Medium » Exhibition catalogue",
            "editor" : "International Graphic Design Biennial.",
            "area": "Chaumont, FR."
    };
-
    let featureGdf = {
            "date":"2019",
            "url" : "https://intl.international/shop/",
            "title" : "« International Poster Book »",
            "editor" : "Graphic Design Festival Scotland.",
            "area": "Glasgow, UK."
    };
-
    let featureTunica = {
            "date":"2019",
            "url" : "https://tunicastudio.com/product/tunica-magazine-issue-no-7/",
            "title" : "« Extended Fantasy » Tunica Magazine NO.7",
            "editor" : "Art & Fashion publication.",
            "area": "New-York, USA"
    };

//- Exposition 
-
    let expoBch = {
            "date":"2023",
            "url" : "https://www.sadiecoles.com/",
            "title" : "Black Cloud Highway",
            "editor" : "Lawrence Lek",
            "description" : "Art direction of the interactive text-based game, touchscreen monitor, stereo sound, variable duration.",
            "area": "Sadie Coles HQ, London, UK."
    };
-
    let expoDp = {
            "date":"2022",
            "url" : "https://www.decompressed-prism.space",
            "title" : "Decompressed Prism",
            "editor" : "Salvatore Vitale",
            "description" : "Online exhibition",
            "area": "MBAL, Musée des Beaux-Arts Le Locle, CH."
    };
-
    let expoWelformat = {
            "date":"2021",
            "url" : "https://weltformat-festival.ch/en/2021/exhibitions/we-ourselves-and-us",
            "title" : "We, Ourselves, and Us",
            "description" : "Welformat Graphic Design Festival",
            "area": "Lucerne, CH."
    };
-
    let expoNewPeace = {
            "date":"2020",
            "url" : "https://www.vonammon.co/takemeiloveyou",
            "title" : "Take Me I Love You",
            "editor":"Timur Si Qin",
            "description" : "Typographic productions displayed in 4 artworks created by the artist.",
            "gallery" : "Von Ammon Co gallery.",
            "area": "Washington DC, USA."
    };
-
    let expoGdf = {
            "date":"2019",
            "url" : "https://graphicdesignfestivalscotland.com/2020/",
            "title" : "GDF Scotland",
            "description" : "International poster online exhibition.",
            "area": "Scotland, UK."
    };
-
    let expoPmedium = {
            "date":"2019",
            "url" : "https://www.centrenationaldugraphisme.fr/biennale/2021/programme/biennale-internationale-de-design-graphique-2021",
            "title" : "Post-medium",
            "description" : "International Poster Competition Graphic Design Biennial.",
            "area": "Chaumont, FR."
    };
-
    let expoOffprint = {
            "date":"2019",
            "url" : "http://offprint.org/",
            "title" : "Offprint",
            "description" : "Art Book Fair Tate Modern.",
            "area": "London, UK."
    };
-
    let expoNuSignal = {
            "date":"2019",
            "title" : "Nu Signal Group Show",
            "description" : "Galerie Martine Aboucaya.",
            "area": "Paris, FR."
    };
-
    let expoEvangiles = {
            "date":"2018",
            "title" : "Cringe, the anticipation of touch",
            "description" : "with Tasio Bidegain.",
            "area": "Stedelijk Museum, Amsterdam, NL."
    };

//- Projets
-
    let bch = {
        "client":"Lawrence Lek",
        "name":'Black Cloud Highway 黑云高速公路',
        "place":"Sadie Coles HQ",
        "url":"/black-cloud.html",
        "date":"2023",
        "area":"London, UK",
        "content":"07 images, 06 videos",
        "field01":"Art direction,",
        "field02":"UI/UX Design development,",
        "field03":"Programming"
    }
-
    let elc = {
        "client":"Espace Loisir Culture",
        "title":"ELC Season 2022/23",
        "url":"/espace-loisir-culture.html",
        "date":"2022",
        "area":"Grand Est region, FR",
        "content":"12 images",
        "field01":"Graphic design,",
        "field02":"Editorial design"
    }
-
    let decompressed = {
        "client":"Salvatore Vitale",
        "name":'Decompressed Prism',
        "url":"/decompressed-prism.html",
        "place":"Museum Of Fine Arts, Le Locle",
        "date":"2022",
        "area":"Le Locle, CH",
        "content":"06 videos",
        "field01":"Digital creative direction,",
        "field02":"Art direction,",
        "field03":"Graphic & web design"
    }
-
    let atlante = {
        "name":"L'Atlante di e meraviglie",
        "url":"/atlante.html",
        "client":"Regional Funds for Contemporary Art",
        "date":"2022",
        "area":"Corte, FR",
        "content":"01 image",
        "field01":"Poster design",
    }
-
    let silence = {
        "name":"Silence is sexy",
        "url":"/silence-is-sexy.html",
        "client":"Regional Funds for Contemporary Art",
        "date":"2022",
        "area":"Ajaccio, FR",
        "content":"07 images",
        "field01":"Editorial design"
    }
-
    let refresh = {
        "name":"Future-Proof",
        "url":"/refresh.html",
        "client":"Refresh",
        "date":"2021-2022",
        "area":"Paimpol, FR",
        "content":"24 images, 02 videos",
        "field01":"Art direction,",
        "field02":"Visual & sound identity"
    }
-
    let hyperpavilion = {
        "name":"Life 3.0",
        "url":"/hyperpavilion.html",
        "client":"HyperPavilion",
        "artist":"Sofia Crespo",
        "date":"2021",
        "area":"Miami, USA",
        "content":"07 images",
        "field01":"Graphic design,",
        "field02":"Type design,",
        "field03":"Layout"
    }
-
    let newpeace = {
        "name":"Take Me I Love You",
        "url":"/newpeace.html",
        "client":"Timur Si Qin",
        "project":"New Peace",
        "gallery":"Von Ammon Co",
        "date":"2020",
        "area":"Washington DC, USA",
        "content":"14 images, 02 videos",
        "field01":"Typographic direction,",
        "field02":"Graphic design,",
        "field03":"Design development"
    }
-
    let hotline = {
        "name":"Hotline Hotline : Actualite Series",
        "client":"JBE Books",
        "url":"/hotline.html",
        "field01":"Art & Design,",
        "field02": "Publishing Platform",
        "content":"05 images, 1 video",
        "date":"2020",
        "area":"Paris, FR"
    }
-
    let recording = {
        "name":"2H34 : Recording Time",
        "project":"Self initiated project",
        "url":"/2h34.html",
        "field01":"Fine Arts Publication",
        "date":"2019",
        "area":"Paris, FR",
        "content":"15 images"
    }
-
    let ada = {
        "name":"Ada Sokół",
        "title":"Malleable Identity",
        "url":"/adasokol.html",
        "field01":"Branding",
        "date":"2019",
        "area":"Paris, FR",
        "content":"02 videos, 04 images"
    }
-
    let eotna = {
        "name":"David Chastel",
        "project":"Entercourse Of The New Age",
        "url":"/eotna.html",
        "field01":"Art Publisher",
        "date":"2019",
        "area":"Paris, FR",
        "content":"14 images"
        
    }
-
    let tunica = {
        "name":'Tunica Magazine',
        "project":'Extended Fantasy',
        "url":"/tunica.html",
        "field01":"Fashion & Art Platform",
        "date":"2019",
        "area":"New-York, USA",
        "content":"04 images"
    }
-
    let evangiles = {
        "name":'Uncut Festival',
        "project":'Evangiles',
        "url":"/evangiles.html",
        "field01":"Group Show",
        "date":"2019",
        "area":"Amsterdam, NL",
        "content":"12 images, 01 video"
    }

//- Site internet 
doctype html
html(lang='en')
    head
        include includes/meta
        title Panama Papers.Office
    body
        main.o-pageSplit__container
            .m-pageSplit_homeLeft__wrapper 
                //- Navbar
                nav.o-navbar__container
                    ul.m-navbar__wrapper
                        li.a-navbar__item#name_ppo PPO
                        li.a-navbar__item#name_panamaPapersOffice Panama Papers.Office 

                //-About
                section.o-infos_container#container__about 
                    //- Texte About 
                    .m-infos__text_wrapper
                        p.a-infos__text_item Founded by Florent Martini and Pierre Dufresne, PPOffice is a creative studio that engages in long-term partnerships with emerging and established artists, curators and public / private art centres, both locally and internationally. Acknowledging their responsibility, as designers, in reshaping collective imaginaries & suggesting narratives of sustainable futures, the two partners bring their creative skills to bear on relevant and engaging cultural initiatives facing the social and environmental challenges of their time. PPOffice distinctive studio's culture, deeply rooted in personal interest and ethical affiliation with the artists with whom it collaborates, allows its practice to navigate through all the spaces that shape a project or a work of art. Having tackled a wide range of case studies since its creation in 2019, future and current partners can benefit from a dynamic workflow and communication, including with any professionals who may be involved in their projects. Depending on each context and purposes, the two partners are able to gather creatives working in various fields to join them in this approach.
                
                //- Selected Client
                section.o-infos_container
                    //- Selected Client Index
                    .m-index_heading__wrapper
                        .a-index_heading__item.heading--border_left Past & current collaborators
                    //- Selected Client Text
                    .m-infos__text_wrapper
                        p.a-infos__text_item
                            a.highlight__link(href=client15.url target="_blank" rel="noreferrer noopener") #{client15.name}
                            span  | 
                            a.highlight__link(href=client14.url target="_blank" rel="noreferrer noopener") #{client14.name}
                            span  | 
                            a.highlight__link(href=client13.url target="_blank" rel="noreferrer noopener") #{client13.name}
                            span  | 
                            a.highlight__link(href=client12.url target="_blank" rel="noreferrer noopener") #{client12.name}
                            span  | 
                            a.highlight__link(href=client11.url target="_blank" rel="noreferrer noopener") #{client11.name}
                            span  | 
                            a.highlight__link(href=client01.url target="_blank" rel="noreferrer noopener") #{client01.name}
                            span  | 
                            a.highlight__link(href=client02.url target="_blank" rel="noreferrer noopener") #{client02.name}
                            span  | 
                            a.highlight__link(href=client03.url target="_blank" rel="noreferrer noopener") #{client03.name}
                            span  | 
                            a.highlight__link(href=client04.url target="_blank" rel="noreferrer noopener") #{client04.name}
                            span  | 
                            a.highlight__link(href=client05.url target="_blank" rel="noreferrer noopener") #{client05.name}
                            span  | 
                            a.highlight__link(href=client06.url target="_blank" rel="noreferrer noopener") #{client06.name}
                            span  | 
                            a.highlight__link(href=client07.url target="_blank" rel="noreferrer noopener") #{client07.name}
                            span  | 
                            a.highlight__link(href=client08.url target="_blank" rel="noreferrer noopener") #{client08.name}
                            span  | 
                            a.highlight__link(href=client09.url target="_blank" rel="noreferrer noopener") #{client09.name}
                            span  | 
                            a.highlight__link(href=client10.url target="_blank" rel="noreferrer noopener") #{client10.name} 
                
                //- Container contacts
                section.o-infos_container--border-bottom 
                    //-Index contact
                    .m-index_heading__wrapper
                        .a-index_heading__item.heading--border_left Contact 
                    //- Informations Contact
                    .m-infos__text_wrapper#contact__grid_container 
                        //- Business Contact
                        div.a-infos__text_item#inquiries
                            a.highlight__link.email(href="mailto:contact(at)panamapapersoffice(dot)com") 🐊 Business inquiries
                            div.infoAvailable _The studio is currently open for collaborations.
                        //- Application contact 
                        div.a-infos__text_item#application
                            a.highlight__link.email(href="mailto:application@panamapapersoffice.com?subject=Application") 🦎 Application job & internship
                            div.infoAvailable _No internship available at the the moment.

                
                //- Container contribution + exhibition
                section.o-contributionsExhibitions__container
                    //- Accordeon contribution exhibition 
                    .m-contributionExhibition__wrapper
                        button.accordion--contribution Features & Articles 
                        .panel
                            //- Contribution AI Index 
                            ul.service
                                li.number-service
                                    span #{featureAiIndex.date}
                                li.infos-service
                                    a.highlight__link(href=featureAiIndex.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureAiIndex.title} 
                                    div.content-service #{featureAiIndex.editor}
                                    div.content-service #{featureAiIndex.area}
                            //- Contribution It's Nice that 
                            ul.service
                                li.number-service
                                    span #{featureSlanted.date}
                                li.infos-service
                                    a.highlight__link(href=featureSlanted.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureSlanted.title} 
                                    div.content-service #{featureSlanted.editor}
                                    div.content-service #{featureSlanted.area}
                            //- Contribution Collide 24 - Archive one
                            ul.service
                                li.number-service
                                    span #{featureInt.date}
                                li.infos-service
                                    a.highlight__link(href=featureInt.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureInt.title} 
                                    div.content-service #{featureInt.editor}
                                    div.content-service #{featureInt.area}
                            //- Contribution A to Z
                            ul.service
                                li.number-service
                                    span #{featureC241.date}
                                li.infos-service
                                    a.highlight__link(href=featureC241.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureC241.title} 
                                    div.content-service #{featureC241.editor}
                                    div.content-service #{featureC241.area}
                            //- Contribution New aesthetic
                            ul.service
                                li.number-service
                                    span #{featureVk.date}
                                li.infos-service
                                    a.highlight__link(href=featureVk.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureVk.title} 
                                    div.content-service #{featureVk.editor}
                                    div.content-service #{featureVk.area}
                            //- Contribution C24 Ada
                            ul.service
                                li.number-service
                                    span #{featureNa.date}
                                li.infos-service
                                    a.highlight__link(href=featureNa.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureNa.title} 
                                    div.content-service #{featureNa.editor}
                                    div.content-service #{featureNa.area}
                            //- Contribution REVU
                            ul.service
                                li.number-service
                                    span #{featureC242.date}
                                li.infos-service
                                    a.highlight__link(href=featureC242.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureC242.title} 
                                    div.content-service #{featureC242.editor}
                                    div.content-service #{featureC242.area}
                            //- Contribution Post Medium
                            ul.service
                                li.number-service
                                    span #{featureDsaa.date}
                                li.infos-service
                                    a.highlight__link(href=featureDsaa.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureDsaa.title} 
                                    div.content-service #{featureDsaa.editor}
                                    div.content-service #{featureDsaa.area}
                            //- Contribution International Poster Book
                            ul.service
                                li.number-service
                                    span #{featurePmedium.date}
                                li.infos-service
                                    a.highlight__link(href=featurePmedium.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featurePmedium.title} 
                                    div.content-service #{featurePmedium.editor08}
                                    div.content-service #{featurePmedium.area}
                            //- Contribution Tunica 
                            ul.service
                                li.number-service
                                    span #{featureGdf.date}
                                li.infos-service
                                    a.highlight__link(href=featureGdf.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{featureGdf.title} 
                                    div.content-service #{featureGdf.editor}
                                    div.content-service #{featureGdf.area}

                    //- Accordeon  exhibition 
                    .m-contributionExhibition__wrapper
                        button.accordion--exhibition Exhibitions
                        .panel 
                            //- Exhibition BCH 
                            ul.service
                                li.number-service
                                    span #{expoBch.date}
                                li.infos-service
                                    a.highlight__link(href=expoBch.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service#exhibition #{expoBch.title} 
                                    p.content-service #{expoBch.editor}
                                    p.content-service #{expoBch.description}
                                    p.content-service #{expoBch.area}
                            //- Exhibition DP 
                            ul.service
                                li.number-service
                                    span #{expoDp.date}
                                li.infos-service
                                    a.highlight__link(href=expoDp.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service#exhibition #{expoDp.title} 
                                    p.content-service #{expoDp.editor}
                                    p.content-service #{expoDp.description}
                                    p.content-service #{expoDp.area}
                            //- Exhibition Welformat 
                            ul.service
                                li.number-service
                                    span #{expoWelformat.date}
                                li.infos-service
                                    a.highlight__link(href=expoWelformat.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service#exhibition #{expoWelformat.title} 
                                    p.content-service #{expoWelformat.description}
                                    p.content-service #{expoWelformat.area}
                            //- Exhibition Timur Si-qin 
                            ul.service
                                li.number-service
                                    span #{expoNewPeace.date}
                                li.infos-service
                                    a.highlight__link(href=expoNewPeace.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service#exhibition #{expoNewPeace.title}
                                    p.content-service #{expoNewPeace.editor}
                                    p.content-service #{expoNewPeace.description}
                                    p.content-service #{expoNewPeace.galery}
                                    p.content-service #{expoNewPeace.area}
                            //- Exhibition GDF 
                            ul.service
                                li.number-service
                                    span #{expoGdf.date}
                                li.infos-service
                                    a.highlight__link(href=expoGdf.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{expoGdf.title}
                                    p.content-service #{expoGdf.description}
                                    p.content-service #{expoGdf.galery}
                                    p.content-service #{expoGdf.area}
                            //- Exhibition Le signe 
                            ul.service
                                li.number-service
                                    span #{expoPmedium.date}
                                li.infos-service
                                    a.highlight__link(href=expoPmedium.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service#exhibition #{expoPmedium.title}
                                    p.content-service #{expoPmedium.description}
                                    p.content-service #{expoPmedium.galery}
                                    p.content-service #{expoPmedium.area}
                            //- Exhibition Offprint 
                            ul.service
                                li.number-service
                                    span #{expoOffprint.date}
                                li.infos-service
                                    a.highlight__link(href=expoOffprint.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service #{expoOffprint.title}
                                    p.content-service #{expoOffprint.description}
                                    p.content-service #{expoOffprint.galery}
                                    p.content-service #{expoOffprint.area}
                            //- Exhibition Nu signal 
                            ul.service
                                li.number-service
                                    span #{expoNuSignal.date}
                                li.infos-service
                                    a(href=expoNuSignal.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service#exhibition #{expoNuSignal.title}
                                    p.content-service #{expoNuSignal.description}
                                    p.content-service #{expoNuSignal.galery}
                                    p.content-service #{expoNuSignal.area}
                            //- Exhibition Cringe 
                            ul.service
                                li.number-service
                                    span #{expoEvangiles.date}
                                li.infos-service
                                    a(href=expoEvangiles.url target="_blank" rel="noreferrer noopener")
                                        h4.title-service#exhibition #{expoEvangiles.title}
                                    p.content-service #{expoEvangiles.description}
                                    p.content-service #{expoEvangiles.galery}
                                    p.content-service #{expoEvangiles.area}

                //- footer desktop 
                include includes/footer-desktop-home

            //- Right Container
            .m-pageSplit_homeRight__wrapper
                //- bch
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=bch.url)
                        picture.a-coverImage__item 
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/cover/bch-cover-400.webp 1x,\
                                        /public/img/black-cloud/cover/bch-cover-800.webp 2x,\
                                        /public/img/black-cloud/cover/bch-cover-800.webp 1x,\
                                        /public/img/black-cloud/cover/bch-cover-1600.webp 2x,"
                                type="image/webp"
                            )
                            source(
                                media="(max-width: 1023px)"
                                srcset="/public/img/black-cloud/cover/bch-cover-400.jpg 1x,\
                                        /public/img/black-cloud/cover/bch-cover-800.jpg 2x,\
                                        /public/img/black-cloud/cover/bch-cover-800.jpg 1x,\
                                        /public/img/black-cloud/cover/bch-cover-1600.jpg 2x,"
                                type="image/jpg"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/cover/bch-cover-1920.webp 1x,\
                                        /public/img/black-cloud/cover/bch-cover-original.webp 2x"
                                type="image/webp"
                            )
                            source(
                                media="(min-width: 1024px)"
                                srcset="/public/img/black-cloud/cover/bch-cover-1920.jpg 1x,\
                                        /public/img/black-cloud/cover/bch-cover-original.jpg 2x"
                                type="image/jpg"
                            )
                            img(src="/public/img/black-cloud/cover/bch-cover-original.jpg", alt=imageDetail02)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{bch.client}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{bch.name}
                                    div.category_wrapper
                                        li.index Art space
                                        li.indexData #{bch.place}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{bch.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{bch.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{bch.field01}
                                        li.indexData  #{bch.field02}
                                        li.indexData #{bch.field03}
                //- elc
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=elc.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/elc/cover/elc-cover-1152.webp 1152w,\
                            /public/img/elc/cover/elc-cover-1440.webp 1440w,\
                            /public/img/elc/cover/elc-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/elc/cover/elc-cover-1152.jpg 1152w,\
                            /public/img/elc/cover/elc-cover-1440.jpg 1440w,\
                            /public/img/elc/cover/elc-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/elc/cover/elc-cover-1920.jpg", alt=elc.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{elc.client}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{elc.title}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{elc.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{elc.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{elc.field01}
                                        li.indexData  #{elc.field02}
                                        li.indexData #{elc.field03}
                //- Decompressed
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=decompressed.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/decompressed/cover/cover-decompressed-1152-test2.webp 1152w,\
                            /public/img/decompressed/cover/cover-decompressed-1440-test2.webp 1440w,\
                            /public/img/decompressed/cover/cover-decompressed-1920-test2.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/decompressed/cover/cover-decompressed-1152-test2.jpg 1152w,\
                            /public/img/decompressed/cover/cover-decompressed-1440-test2.jpg 1440w,\
                            /public/img/decompressed/cover/cover-decompressed-1920-test2.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/decompressed/cover/cover-decompressed-1920-test2.jpg", alt=decompressed.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{decompressed.client}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{decompressed.name}
                                    div.category_wrapper
                                        li.index Museum
                                        li.indexData #{decompressed.place}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{decompressed.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{decompressed.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{decompressed.field01}
                                        li.indexData  #{decompressed.field02}
                                        li.indexData #{decompressed.field03}
                //- Silence is sexy
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=silence.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/silence-is-sexy/cover/cover-silence-is-sexy-1152.webp 1152w,\
                            /public/img/silence-is-sexy/cover/cover-silence-is-sexy-1440.webp 1440w,\
                            /public/img/silence-is-sexy/cover/cover-silence-is-sexy-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/silence-is-sexy/cover/cover-silence-is-sexy-1152.jpg 1152w,\
                            /public/img/silence-is-sexy/cover/cover-silence-is-sexy-1440.jpg 1440w,\
                            /public/img/silence-is-sexy/cover/cover-silence-is-sexy-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/silence/cover/silence-cover-1920.jpg", alt=silence.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{silence.client}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{silence.name}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{silence.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{silence.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{silence.field01}

                //- Refresh
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=refresh.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/refresh/cover/refresh-cover-1152.webp 1152w,\
                            /public/img/refresh/cover/refresh-cover-1440.webp 1440w,\
                            /public/img/refresh/cover/refresh-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/refresh/cover/refresh-cover-1152.jpg 1152w,\
                            /public/img/refresh/cover/refresh-cover-1440.jpg 1440w,\
                            /public/img/refresh/cover/refresh-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/refresh/cover/refresh-cover-1920.jpg", alt=refresh.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{refresh.client}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{refresh.name}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{refresh.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{refresh.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{refresh.field01}
                                        li.indexData #{refresh.field02}
                                        
                //- Atlante
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=atlante.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/atlante/cover/cover-atlante-1152.webp 1152w,\
                            /public/img/atlante/cover/cover-atlante-1440.webp 1440w,\
                            /public/img/atlante/cover/cover-atlante-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/atlante/cover/cover-atlante-1152.jpg 1152w,\
                            /public/img/atlante/cover/cover-atlante-1440.jpg 1440w,\
                            /public/img/atlante/cover/cover-atlante-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/atlante/cover/cover-atlante-1920.jpg", alt=atlante.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{atlante.client}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{atlante.name}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{atlante.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{atlante.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{atlante.field01}
                                        li.indexData #{atlante.field02}

                //- Hyperpavilion
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=hyperpavilion.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/hyperpavilion/cover/untitledart-cover-1152.webp 1152w,\
                            /public/img/hyperpavilion/cover/untitledart-cover-1440.webp 1440w,\
                            /public/img/hyperpavilion/cover/untitledart-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/hyperpavilion/cover/untitledart-cover-1152.jpg 1152w,\
                            /public/img/hyperpavilion/cover/untitledart-cover-1440.jpg 1440w,\
                            /public/img/hyperpavilion/cover/untitledart-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/hyperpavilion/cover/untitledart-cover-1920.jpg", alt=hyperpavilion.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{hyperpavilion.client}
                                    div.category_wrapper
                                        li.index Artist
                                        li.indexData #{hyperpavilion.artist}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{hyperpavilion.name}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{hyperpavilion.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{hyperpavilion.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{hyperpavilion.field01}
                                        li.indexData #{hyperpavilion.field02}
                                        li.indexData #{hyperpavilion.field03}
                
                //- newpeace
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=newpeace.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/newpeace/cover/newpeace-cover-1152.webp 1152w,\
                            /public/img/newpeace/cover/newpeace-cover-1440.webp 1440w,\
                            /public/img/newpeace/cover/newpeace-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/newpeace/cover/newpeace-cover-1152.jpg 1152w,\
                            /public/img/newpeace/cover/newpeace-cover-1440.jpg 1440w,\
                            /public/img/newpeace/cover/newpeace-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/newpeace/cover/newpeace-cover-1920.jpg", alt=newpeace.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{newpeace.client}
                                    div.category_wrapper
                                        li.index Project
                                        li.indexData #{newpeace.project}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{newpeace.name}
                                    div.category_wrapper
                                        li.index Gallery
                                        li.indexData #{newpeace.gallery}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{newpeace.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{newpeace.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{newpeace.field01}
                                        li.indexData #{newpeace.field02}
                                        li.indexData #{newpeace.field03}

                //- hotline
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=hotline.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/hotline/cover/hotline-cover-1152.webp 1152w,\
                            /public/img/hotline/cover/hotline-cover-1440.webp 1440w,\
                            /public/img/hotline/cover/hotline-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/hotline/cover/hotline-cover-1152.jpg 1152w,\
                            /public/img/hotline/cover/hotline-cover-1440.jpg 1440w,\
                            /public/img/hotline/cover/hotline-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/hotline/cover/hotline-cover-1920.jpg", alt=hotline.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{hotline.client}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{hotline.name}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{hotline.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{hotline.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{hotline.field01}
                                        li.indexData #{hotline.field02}

                //- 2h34
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=recording.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/2h34/cover/2h34-cover-1152.webp 1152w,\
                            /public/img/2h34/cover/2h34-cover-1440.webp 1440w,\
                            /public/img/2h34/cover/2h34-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/2h34/cover/2h34-cover-1152.jpg 1152w,\
                            /public/img/2h34/cover/2h34-cover-1440.jpg 1440w,\
                            /public/img/2h34/cover/2h34-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/2h34/cover/2h34-cover-1920.jpg", alt=recording.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Project
                                        li.indexData #{recording.project}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{recording.name}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{recording.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{recording.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{recording.field01}

                //- ada
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=ada.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/ada/cover/ada-cover-1152.webp 1152w,\
                            /public/img/ada/cover/ada-cover-1440.webp 1440w,\
                            /public/img/ada/cover/ada-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/ada/cover/ada-cover-1152.jpg 1152w,\
                            /public/img/ada/cover/ada-cover-1440.jpg 1440w,\
                            /public/img/ada/cover/ada-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/ada/cover/ada-cover-1920.jpg", alt=ada.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{ada.name}
                                    div.category_wrapper
                                        li.index Title
                                        li.indexData #{ada.title}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{ada.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{ada.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{ada.field01}

                //- eotna
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=eotna.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/eotna/cover/eotna-cover-1152.webp 1152w,\
                            /public/img/eotna/cover/eotna-cover-1440.webp 1440w,\
                            /public/img/eotna/cover/eotna-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/eotna/cover/eotna-cover-1152.jpg 1152w,\
                            /public/img/eotna/cover/eotna-cover-1440.jpg 1440w,\
                            /public/img/eotna/cover/eotna-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/eotna/cover/eotna-cover-1920.jpg", alt=eotna.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{eotna.name}
                                    div.category_wrapper
                                        li.index title
                                        li.indexData #{eotna.project}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{eotna.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{eotna.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{eotna.field01}

                //- tunica
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=tunica.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/tunica/cover/tunica-cover-1152.webp 1152w,\
                            /public/img/tunica/cover/tunica-cover-1440.webp 1440w,\
                            /public/img/tunica/cover/tunica-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/tunica/cover/tunica-cover-1152.jpg 1152w,\
                            /public/img/tunica/cover/tunica-cover-1440.jpg 1440w,\
                            /public/img/tunica/cover/tunica-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/tunica/cover/tunica-cover-1920.jpg", alt=tunica.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{tunica.name}
                                    div.category_wrapper
                                        li.index title
                                        li.indexData #{tunica.project}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{tunica.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{tunica.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{tunica.field01}

                //- evangiles
                header.o-coverImage__container
                    a.m-coverImage__wrapper(href=evangiles.url)
                        picture.a-coverImage__item 
                            source(
                            type="image/webp" 
                            srcset="\
                            /public/img/evangiles/cover/evangiles-cover-1152.webp 1152w,\
                            /public/img/evangiles/cover/evangiles-cover-1440.webp 1440w,\
                            /public/img/evangiles/cover/evangiles-cover-1920.webp 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),\
                            (max-width:1023px) 100vw"
                            )
                            source(
                            type="image/jpg" 
                            srcset="\
                            /public/img/evangiles/cover/evangiles-cover-1152.jpg 1152w,\
                            /public/img/evangiles/cover/evangiles-cover-1440.jpg 1440w,\
                            /public/img/evangiles/cover/evangiles-cover-1920.jpg 1920w"
                            sizes="\
                            (min-width: 1024px) calc(50vw - 11px),(max-width:1023px) 100vw"
                            )
                            img(src="/public/img/evangiles/cover/evangiles-cover-1920.jpg", alt=evangiles.name)
                        //- Image Overlay
                        .image__overlay
                            ul.overlay__wrapper
                                div.container_top
                                    div.category_wrapper
                                        li.index Client
                                        li.indexData #{evangiles.name}
                                    div.category_wrapper
                                        li.index title
                                        li.indexData #{evangiles.project}
                                    div.category_wrapper
                                        li.index Year
                                        li.indexData #{evangiles.date}
                                div.container_bottom
                                    div.category_wrapper
                                        li.index Page content
                                        li.indexData #{evangiles.content}
                                    div.category_wrapper
                                        li.index Working fields
                                        li.indexData #{evangiles.field01}

                //- Footer mobile 
                include includes/footer-mobile



        <script src="js/accordion.js"></script>